.container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.github-logo-offset {
  position: relative;
  padding-left: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-button {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  vertical-align: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  width: 8em;
  /* height: 3em; */
}

.linkedin-button {
  background-color: var(--linkedin-color);
}

.logo-image {
  margin-right: auto;
}
.linkedin-button:hover {
  background-color: #5293b4;
}
.linkedin-button:active {
  background-color: #7694a3;
}

.github-button {
  background-color: var(--github-color);
  overflow: hidden;
}

.github-button:hover {
  background-color: #4c5256;
}

.linkedin-button:active {
  background-color: #bbcbd3;
}

.btn-text {
  height: fit-content;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.8em;
  color: white;
  font-weight: 700;
}
