*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
button:focus, button:active {
  outline: none;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 252px;
  height: 126px;
  background-color: #ffffff;
  border-radius: calc(126px / 2);
  box-shadow: rgba(51, 51, 51, 0.1) 0px 32px 64px 0px;
  overflow: hidden;
}
.btn .ripple.ripple-dark {
  z-index: 1;
  transform: scale(4.8);
  transition: 0.6s ease;
}
.btn .ripple.ripple-light {
  z-index: 2;
  transform: scale(1);
  transition: z-index 0s 0.6s ease, transform 0s ease;
}
.btn.btn-checked {
  background-color: #333333;
  -webkit-animation: changeColor 0.6s ease forwards;
          animation: changeColor 0.6s ease forwards;
}
@-webkit-keyframes changeColor {
  80% {
    background-color: #333333;
  }
  80.01% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes changeColor {
  80% {
    background-color: #333333;
  }
  80.01% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}
.btn.btn-checked .ripple.ripple-dark {
  z-index: 2;
  transform: scale(1);
  transition: z-index 0s 0.6s ease, transform 0s ease;
}
.btn.btn-checked .ripple.ripple-light {
  z-index: 1;
  transform: scale(4.8);
  transition: 0.6s ease;
}

.toggle {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 23px;
  border-radius: 50%;
  z-index: 5;
}
.toggle.toggle-dark {
  background-color: #333333;
  left: 23px;
}
.toggle.toggle-light {
  background-color: white;
  right: 23px;
}

.ripple {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 23px;
  border-radius: 50%;
}
.ripple.ripple-dark {
  background-color: #333333;
  left: 23px;
}
.ripple.ripple-light {
  background-color: white;
  right: 23px;
}