@import url("../../globals.css");

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
button:focus,
button:active {
  outline: none;
  border: none;
}

.btn {
  width: 64px;
  height: 32px;
  background-color: var(--white);
  border-radius: calc(32px / 2);
  box-shadow: var(--coal) 0px 2px 2px 0px;
  overflow: hidden;
  position: absolute;
  right: 5em;
  top: 20px;
}
.btn .ripple.ripple-dark {
  z-index: 1;
  transform: scale(4.8);
  transition: 0.6s ease;
}
.btn .ripple.ripple-light {
  z-index: 2;
  transform: scale(1);
  transition: z-index 0s 0.6s ease, transform 0s ease;
}
.btn.btn-checked {
  background-color: var(--coal);
  -webkit-animation: changeColor 0.6s ease forwards;
  animation: changeColor 0.6s ease forwards;
}
@-webkit-keyframes changeColor {
  80% {
    background-color: var(--coal);
  }
  80.01% {
    background-color: var(--white);
  }
  100% {
    background-color: var(--white);
  }
}
@keyframes changeColor {
  80% {
    background-color: var(--coal);
  }
  80.01% {
    background-color: var(--white);
  }
  100% {
    background-color: var(--white);
  }
}
.btn.btn-checked .ripple.ripple-dark {
  z-index: 2;
  transform: scale(1);
  transition: z-index 0s 0.6s ease, transform 0s ease;
}
.btn.btn-checked .ripple.ripple-light {
  z-index: 1;
  transform: scale(4.8);
  transition: 0.6s ease;
}

.toggle {
  width: 20.5px;
  height: 20.5px;
  position: absolute;
  top: 6.65px;
  border-radius: 50%;
  z-index: 5;
}
.toggle.toggle-dark {
  background-color: var(--coal);
  left: 6.65px;
}
.toggle.toggle-light {
  background-color: var(--white);
  right: 6.65px;
}

.ripple {
  width: 20.5px;
  height: 20.5px;
  position: absolute;
  top: 6.65px;
  border-radius: 50%;
}
.ripple.ripple-dark {
  background-color: var(--coal);
  left: 6.65px;
}
.ripple.ripple-light {
  background-color: var(--white);
  right: 6.65px;
}
