@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  --bg: #cfcfcf;
  --coal: #333;
  --white: #fff;
  --focus: #002a2a;

  --background: rgb(200, 238, 255);
  --font-color: rgb(23, 36, 39);
  --foreground: var(--coal);
  --outline: var(--coal);
  --linkedin-color: #216587;
  --github-color: #313538;

  background-color: var(--background);
  color: var(--font-color);
  font-weight: 500;
}
body {
  min-width: 350px;
}

[data-theme="dark"] {
  --background: var(--coal);
  --foreground: var(--bg);
  --outline: var(--white);
  --font-color: rgb(152, 236, 255);
  --linkedin-color: #55a7d0;
  --github-color: rgb(70, 70, 70);
  background-color: var(--background);
}
