@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  /* Your default theme */
  --background: white;
  --foreground: black;

  --bg: #9a9a9a;
  --coal: #333;
  --white: #fff;
  --focus: #002a2a;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}
